.player-container {
  width: 23rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5% 5% 5% 5%;
}

.player-card-name {
  font-size: var(--fontSize-names);
  background-color:var(--background-name);
  font-weight: var(--fontWeight-names);
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  margin-top: -1rem;
  text-align: center;
  padding: 0.2rem;
}

.current-score-title {
  font-size: var(--fontSize-names);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.current-score {
  background-color: var(--background-score);
  font-size: var(--fontSize-currentScore-bottom);
  font-weight: var(--fontWeight-current-score);
  width: 6rem;
  height: 6rem;
  border-radius: 10px;
  padding-top: 0.6rem;
  text-align: center;
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.buttons-container {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}
