.score-container {
  width: 20rem;
  height: 12rem;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 5% 5% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.4);
}

.player-name {
  width: 8rem;
  height: 3rem;
  border-radius: 5px;
  margin-top: -4rem;
  background-color: aliceblue;
  text-align: center;
  font-size: var(--fontSize-names);
}

.player-score-container {
  width: 14rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player-score {
  width: 6rem;
  height: 3.5rem;
  background-color: #e6e6e6;
  text-align: start;
  padding-left: 1rem;
  font-size: var(--fontSize-numbers);
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.skew-line {
  width: 1.7rem;
  height: 7rem;
  background-color: darkgray;
  overflow: hidden;
  position: absolute;
  transform: skewX(-30deg);
}

.total-score {
  width: 6rem;
  height: 3.5rem;
  background-color: #e6e6e6;
  text-align: end;
  padding-right: 1rem;
  font-size: var(--fontSize-numbers);
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.2);
}
