.score-container {
  width: 20rem;
  height: 12rem;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 5% 5% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.4);
}

.player-name {
  background-color: var(--background-name);
  font-size: var(--fontSize-names);
  font-weight: var(--fontWeight-names);
  width: 8rem;
  height: 3rem;
  border-radius: 5px;
  margin-top: -4rem;
  text-align: center;
  
}

.player-score-container {
  width: 14rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player-score {
  background-color: var(--background-score);
  font-size: var(--fontSize-score-top);
  font-weight: var(--fontWeight-player-score);
  width: 6rem;
  height: 3.5rem;
  text-align: start;
  padding-left: 1.2rem;
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.skew-line {
  width: 1.7rem;
  height: 7rem;
  background-color: darkgray;
  overflow: hidden;
  position: absolute;
  transform: skewX(-30deg);
}

.total-score {
  background-color: var(--background-score);
  font-size: var(--fontSize-score-top);
  font-weight: var(--fontWeight-total-score);
  width: 6rem;
  height: 3.5rem;
  text-align: end;
  padding-right: 1rem;
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.2);
}
