.intro {
  width: 35rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: rgba(255, 255, 255, 1);
  font-size: 1.2rem;
  padding: 0 3rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5% 5% 5% 5%;
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px,
    rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px,
    rgba(0, 0, 0, 0.05) 25px 25px;
}

.intro-title {
  font-family: var(--font-title);
  font-size: 5rem;
  text-align: center;
  margin: 1rem 0;
  color: #d33f49;
}

.intro-subtitle {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: #d33f49;
}
